# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build
.env
tmp/
temp/
*.swp
.idx

public/models
fine-tune/lua_gpt2_onnx
fine-tune/tokenized_lua_dataset
fine-tune/lua_gpt2_final
fine-tune/lua_gpt2_finetuned
